In [44]:
import  numpy as np

class Bernoulli:
    def __init__(self, p):
        self.p = p
    def probability(self, x=1):
        if x == 1:
            return self.p
        elif x == 0:
            return 1-self.p

In [64]:
U = {0: 0.5, 1: 0.5}
PA_U = lambda x, y: Bernoulli(x/4).probability(y)
PM_A = lambda x, y: Bernoulli(0.5+0.1*x).probability(y)
PY_MA = lambda x, y, z: Bernoulli(x/2+y/4).probability(z)

In [84]:
PYAMU = {}
for u in [0,1]:
    for a in [0,1]:
        for m in [0,1]:
            for y in [0,1]:
                PYAMU[(y,a,m,u)] = U[u] * PA_U(u,a) * PM_A(a,m) * PY_MA(m, u, y)

In [69]:
PY = 0 #P(Y=1)
for u in [0,1]:
    for a in [0,1]:
        for m in [0,1]:
            PY+=PYAMU[(1, a, m, u)]
print(PY)

0.38125

In [81]:
PYMA = 0 #P(Y=1, M=0, A=0)
PYMA1 = 0 #P(Y=1, M=0, A=1)
PMA0 = 0 #P(M=0, A=0)
PMA1 = 0 #P(M=0, A=1)
for u in [0,1]:
    PYMA += PYAMU[(1, 0, 0, u)]
    PYMA1 += PYAMU[(1, 1, 0, u)]
    for y in [0,1]:
        PMA0 += PYAMU[(y, 0, 0, u)]
        PMA1 += PYAMU[(y, 1, 0, u)]
print("P(Y=1|M=0, A=0) = {}, P(Y=1|M=0, A=1) = {}".format(PYMA/PMA0, PYMA1/PMA1))
print(PYMA, PYMA1, PMA0, PMA1)

P(Y=1|M=0, A=0) = 0.10714285714285714, P(Y=1|M=0, A=1) = 0.25
0.046875 0.0125 0.4375 0.05

In [85]:
PYAMU

{(0, 0, 0, 0): 0.25,
 (1, 0, 0, 0): 0.0,
 (0, 0, 1, 0): 0.125,
 (1, 0, 1, 0): 0.125,
 (0, 1, 0, 0): 0.0,
 (1, 1, 0, 0): 0.0,
 (0, 1, 1, 0): 0.0,
 (1, 1, 1, 0): 0.0,
 (0, 0, 0, 1): 0.140625,
 (1, 0, 0, 1): 0.046875,
 (0, 0, 1, 1): 0.046875,
 (1, 0, 1, 1): 0.140625,
 (0, 1, 0, 1): 0.037500000000000006,
 (1, 1, 0, 1): 0.0125,
 (0, 1, 1, 1): 0.01875,
 (1, 1, 1, 1): 0.056249999999999994}

# Interventional

In [60]:
U = {0: 0.5, 1: 0.5}
M_doA1 = {0: 0.4, 1: 0.6}
PY_MA = lambda x, y, z: Bernoulli(x/2+y/4).probability(z)

PYMU = {}
for u in [0,1]:
    for m in [0,1]:
        for y in [0,1]:
            PYMU[(y,m,u)] = U[u] * M_doA1[m] * PY_MA(m, u, y)

In [61]:
PYMU

{(0, 0, 0): 0.2,
 (1, 0, 0): 0.0,
 (0, 1, 0): 0.15,
 (1, 1, 0): 0.15,
 (0, 0, 1): 0.15000000000000002,
 (1, 0, 1): 0.05,
 (0, 1, 1): 0.075,
 (1, 1, 1): 0.22499999999999998}

In [73]:
PY_doA1 = 0 #P(Y=1)
for u in [0,1]:
    for m in [0,1]:
        PY_doA1+=PYMU[(1, m, u)]
print(PY_doA1)

0.425

In [77]:
U = {0: 0.5, 1: 0.5}
M_doA0 = {0: 0.5, 1: 0.5}
PY_MA = lambda x, y, z: Bernoulli(x/2+y/4).probability(z)

PYMU0 = {}
for u in [0,1]:
    for m in [0,1]:
        for y in [0,1]:
            PYMU0[(y,m,u)] = U[u] * M_doA0[m] * PY_MA(m, u, y)

In [78]:
PY_doA1 = 0 #P(Y=1)
for u in [0,1]:
    for m in [0,1]:
        PY_doA1+=PYMU0[(0, m, u)]
print(PY_doA1)

0.625

# Backdoor Adjustment

In [92]:
PYUA1 = 0 #P(Y=1, U=1, A=1)
PYUA0 = 0 #P(Y=1, U=0, A=1)
PUA1 = 0 #P(U=1, A=1)
PUA0 = 0 #P(U=0, A=1)

for m in [0,1]:
    PYUA1 += PYAMU[(1, 1, m, 1)]
    PYUA0 += PYAMU[(1, 1, m, 0)]
    for y in [0,1]:
        PUA1 += PYAMU[(y, 1, m, 1)]
        PUA0 += PYAMU[(y, 1, m, 0)]

print(PYUA1, PYUA0, PUA1, PUA0, PYUA1/PUA1)

0.06874999999999999 0.0 0.125 0.0 0.5499999999999999

In [93]:
PYUA1 = 0 #P(Y=0, U=1, A=1)
PYUA0 = 0 #P(Y=0, U=0, A=1)
PUA1 = 0 #P(U=1, A=1)
PUA0 = 0 #P(U=0, A=1)

for m in [0,1]:
    PYUA1 += PYAMU[(0, 1, m, 1)]
    PYUA0 += PYAMU[(0, 1, m, 0)]
    for y in [0,1]:
        PUA1 += PYAMU[(y, 1, m, 1)]
        PUA0 += PYAMU[(y, 1, m, 0)]

print(PYUA1, PYUA0, PUA1, PUA0, PYUA1/PUA1)

0.05625000000000001 0.0 0.125 0.0 0.45000000000000007

In [88]:
PYUA1 = 0 #P(Y=1, U=1, A=0)
PYUA0 = 0 #P(Y=1, U=0, A=0)
PUA1 = 0 #P(U=1, A=1)
PUA0 = 0 #P(U=0, A=1)

for m in [0,1]:
    PYUA1 += PYAMU[(1, 0, m, 1)]
    PYUA0 += PYAMU[(1, 0, m, 0)]
    for y in [0,1]:
        PUA1 += PYAMU[(y, 0, m, 1)]
        PUA0 += PYAMU[(y, 0, m, 0)]

print(PYUA1, PYUA0, PUA1, PUA0)
print("P(Y=1|U=1, A=1) = {}, P(Y=1|U=0, A=1) = {}".format(PYUA1/PUA1, PYUA0/PUA0))
print(PYUA1/PUA1*0.5+PYUA0/PUA0*0.5)

0.1875 0.125 0.375 0.5
P(Y=1|U=1, A=1) = 0.5, P(Y=1|U=0, A=1) = 0.25
0.375

In [89]:
PYUA1 = 0 #P(Y=0, U=1, A=0)
PYUA0 = 0 #P(Y=0, U=0, A=0)
PUA1 = 0 #P(U=1, A=1)
PUA0 = 0 #P(U=0, A=1)

for m in [0,1]:
    PYUA1 += PYAMU[(0, 0, m, 1)]
    PYUA0 += PYAMU[(0, 0, m, 0)]
    for y in [0,1]:
        PUA1 += PYAMU[(y, 0, m, 1)]
        PUA0 += PYAMU[(y, 0, m, 0)]

print(PYUA1, PYUA0, PUA1, PUA0)
print("P(Y=0|U=1, A=1) = {}, P(Y=0|U=0, A=1) = {}".format(PYUA1/PUA1, PYUA0/PUA0))
print(PYUA1/PUA1*0.5+PYUA0/PUA0*0.5)

0.1875 0.375 0.375 0.5
P(Y=0|U=1, A=1) = 0.5, P(Y=0|U=0, A=1) = 0.75
0.625

# Frontdoor Adjustment

In [115]:
PYMA = 0 #P(Y=1, M=0, A=0)
PYMA1 = 0 #P(Y=1, M=0, A=1)
PYM1A = 0 #P(Y=1, M=1, A=0)
PYM1A1 = 0 #P(Y=1, M=1, A=1)
PM0A = 0 #P(M=0, A=0)
PM0A1 = 0 #P(M=0, A=1)
PM1A = 0 #P(M=1, A=0)
PM1A1 = 0 #P(M=1, A=1)
PA = 0 #P(A=0)

for u in [0,1]:
    PYMA += PYAMU[(1, 0, 0, u)]
    PYM1A += PYAMU[(1, 0, 1, u)]
    PYMA1 += PYAMU[(1, 1, 0, u)]
    PYM1A1 += PYAMU[(1, 1, 1, u)]
    for y in [0,1]:
        PM0A += PYAMU[(y, 0, 0, u)]
        PM1A += PYAMU[(y, 0, 1, u)]
        PM0A1 += PYAMU[(y, 1, 0, u)]
        PM1A1 += PYAMU[(y, 1, 1, u)]
        for m in [0,1]:
            PA += PYAMU[(y, 0, m, u)]
print("P(Y=1|M=1, A=0) = {}, P(Y=1|M=0, A=0) = {}".format(PYM1A/PM1A, PYMA/PM0A))
print("P(Y=1|M=1, A=1) = {}, P(Y=1|M=0, A=1) = {}".format(PYM1A1/PM1A1, PYMA1/PM0A1))
print("P(M=1| A=0) = {}, P(M=0|A=0) = {}".format(PM1A/PA, PM0A/PA))
print("P(M=1| A=1) = {}, P(M=0|A=1) = {}".format(PM1A1/(1-PA), PM0A1/(1-PA)))
print(PYMA, PYM1A, PM0A, PM1A ,PA)

print(0.6 * (0.6071428571428571*0.875+0.75*0.125)+0.4 * (0.10714285714285714*0.875+0.25*0.125))
print(0.5 * (0.6071428571428571*0.875+0.75*0.125)+0.5 * (0.10714285714285714*0.875+0.25*0.125))

P(Y=1|M=1, A=0) = 0.6071428571428571, P(Y=1|M=0, A=0) = 0.10714285714285714
P(Y=1|M=1, A=1) = 0.75, P(Y=1|M=0, A=1) = 0.25
P(M=1| A=0) = 0.5, P(M=0|A=0) = 0.5
P(M=1| A=1) = 0.6, P(M=0|A=1) = 0.4
0.046875 0.265625 0.4375 0.4375 0.875
0.425
0.375

In [111]:
PYMA = 0 #P(Y=0, M=0, A=0)
PYMA1 = 0 #P(Y=0, M=0, A=1)
PYM1A = 0 #P(Y=0, M=1, A=0)
PYM1A1 = 0 #P(Y=0, M=1, A=1)
PM0A = 0 #P(M=0, A=0)
PM0A1 = 0 #P(M=0, A=1)
PM1A = 0 #P(M=1, A=0)
PM1A1 = 0 #P(M=1, A=1)
PA = 0 #P(A=0)

for u in [0,1]:
    PYMA += PYAMU[(0, 0, 0, u)]
    PYM1A += PYAMU[(0, 0, 1, u)]
    PYMA1 += PYAMU[(0, 1, 0, u)]
    PYM1A1 += PYAMU[(0, 1, 1, u)]
    for y in [0,1]:
        PM0A += PYAMU[(y, 0, 0, u)]
        PM1A += PYAMU[(y, 0, 1, u)]
        PM0A1 += PYAMU[(y, 1, 0, u)]
        PM1A1 += PYAMU[(y, 1, 1, u)]
        for m in [0,1]:
            PA += PYAMU[(y, 0, m, u)]
print("P(Y=0|M=1, A=0) = {}, P(Y=0|M=0, A=0) = {}".format(PYM1A/PM1A, PYMA/PM0A))
print("P(Y=0|M=1, A=1) = {}, P(Y=0|M=0, A=1) = {}".format(PYM1A1/PM1A1, PYMA1/PM0A1))
print("P(M=1| A=0) = {}, P(M=0|A=0) = {}".format(PM1A/PA, PM0A/PA))
print("P(M=1| A=1) = {}, P(M=0|A=1) = {}".format(PM1A1/(1-PA), PM0A1/(1-PA)))
print(PYMA, PYM1A, PM0A, PM1A ,PA)

print(0.5*(0.39285714285714285*0.875+0.25*0.125)+ 0.5*(0.8928571428571429*0.875+0.7500000000000001*0.125))
print(0.6*(0.39285714285714285*0.875+0.25*0.125)+ 0.4*(0.8928571428571429*0.875+0.7500000000000001*0.125))

P(Y=0|M=1, A=0) = 0.39285714285714285, P(Y=0|M=0, A=0) = 0.8928571428571429
P(Y=0|M=1, A=1) = 0.25, P(Y=0|M=0, A=1) = 0.7500000000000001
P(M=1| A=0) = 0.5, P(M=0|A=0) = 0.5
P(M=1| A=1) = 0.6, P(M=0|A=1) = 0.4
0.390625 0.171875 0.4375 0.4375 0.875
0.625
0.575

# Instrumental Variables

In [1]:
import pandas as pd

In [2]:
samples_005 = pd.read_csv('./samples_0.05.csv', delimiter=' ', names=['W', 'A', 'Y'])
samples_05 = pd.read_csv('./samples_0.5.csv', delimiter=' ', names=['W', 'A', 'Y'])
samples_5 = pd.read_csv('./samples_5.csv', delimiter=' ', names=['W', 'A', 'Y'])

In [4]:
samples_005.head(10)

          W          A           Y
0 -0.974542  -7.411464  -56.204240
1 -0.925985  -8.079710  -66.485138
2 -0.989082  17.081236  131.047128
3 -0.341227  -7.085552  -52.943983
4  0.127710   9.921038   77.425038
5  0.781799  11.249563   86.590646
6  1.610032 -11.655733  -88.872874
7 -0.872870  -9.650991  -74.479027
8 -0.898799   1.398662    8.847915
9 -1.325479   4.090632   33.454700

In [5]:
samples_05.head(10)

          W          A           Y
0 -2.037035 -11.351318  -87.171477
1 -1.104038  -5.985635  -45.805358
2 -0.116752  15.921801  123.786508
3 -0.895643   9.045145   68.120513
4  0.418609   0.075154   -0.219511
5  1.150032  -6.897697  -53.342827
6 -0.290803   0.756064    7.143734
7  0.283067   5.582372   41.569170
8 -0.855503  -5.013909  -38.760314
9  0.976128   1.782619   14.940179

In [6]:
samples_5.head(10)

          W          A           Y
0 -0.318408   2.649913   18.958642
1  0.463709  12.335164   94.599329
2 -0.847611  -5.567833  -41.904562
3 -0.618582 -13.888382 -107.392453
4 -2.048121 -16.678695 -127.404500
5 -1.620891  -6.808069  -50.119765
6  1.327535  -2.170608  -19.035005
7  0.513145 -19.370889 -150.533377
8 -0.700303  -7.370361  -55.782428
9  2.246449  18.954647  142.508371

# Calculating $\hat\beta_{aw}$

In [8]:
import numpy as np
from sklearn.linear_model import LinearRegression

# 0.05
a_005 = np.asarray(samples_005['A']).reshape(-1, 1)
w_005 = np.asarray(samples_005['W']).reshape(-1, 1)

reg_005 = LinearRegression().fit(w_005, a_005)
beta_aw_005 = reg_005.coef_
print (reg_005.score(w_005, a_005), beta_aw_005)

0.0009904562115915505 [[0.32646744]]

In [9]:
# 0.5
a_05 = np.asarray(samples_05['A']).reshape(-1, 1)
w_05 = np.asarray(samples_05['W']).reshape(-1, 1)

reg_05 = LinearRegression().fit(w_05, a_05)
beta_aw_05 = reg_05.coef_
print (reg_05.score(w_05, a_05), beta_aw_05)

0.004832409817257077 [[0.72908667]]

In [10]:
# 5
a_5 = np.asarray(samples_5['A']).reshape(-1, 1)
w_5 = np.asarray(samples_5['W']).reshape(-1, 1)

reg_5 = LinearRegression().fit(w_5, a_5)
beta_aw_5 = reg_5.coef_
print (reg_5.score(w_5, a_5), beta_aw_5)

0.1619688187872389 [[4.52729139]]

# Calculating $\hat\beta_{yw}$

In [11]:
# 0.05
y_005 = np.asarray(samples_005['Y']).reshape(-1, 1)

reg_005 = LinearRegression().fit(w_005, y_005)
beta_yw_005 = reg_005.coef_
print (reg_005.score(w_005, y_005), beta_yw_005)

0.0009603810161366022 [[2.49075696]]

In [14]:
# 0.5
y_05 = np.asarray(samples_05['Y']).reshape(-1, 1)

reg_05 = LinearRegression().fit(w_05, y_05)
beta_yw_05 = reg_05.coef_
print (reg_05.score(w_05, y_05), beta_yw_05)

0.004650886498636875 [[5.54277931]]

In [15]:
# 5
y_5 = np.asarray(samples_5['Y']).reshape(-1, 1)

reg_5 = LinearRegression().fit(w_5, y_5)
beta_yw_5 = reg_5.coef_
print (reg_5.score(w_5, y_5), )

0.15248865899664366 [[33.84799159]]

In [16]:
print(beta_yw_005/beta_aw_005)
print(beta_yw_05/beta_aw_05)
print(beta_yw_5/beta_aw_5)

[[7.62941922]]
[[7.60235993]]
[[7.47643319]]